
<div class="container  d-flex ">
    <form class="d-flex " style="flex-grow: 1;">
        <input  class="form-control me-2" type="search" name="searchText" id="" placeholder="search Recipes" [(ngModel)]="searchText">
        <button type="submit" class="btn btn-sm btn-primary" (click)="searchRecipe(searchText)">Search</button>
        <button type="submit" class="btn btn-sm btn-secondary mx-2" (click)="clearSearch()" *ngIf="isSearchApplied">clear</button>
    </form>
</div>
<div class=" m-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-md-3 col-sm-6 col-lg-3" *ngFor="let recipe of recipes">
            <app-recipe-card [recipe]="recipe"></app-recipe-card>
        </div>
        <div *ngIf="recipes.length  ==  0"> No Recipes Found</div>
    </div>
    <div class="d-flex justify-content-center align-items-center py-2" *ngIf="searchMode == false">
        <button class="btn btn-primary" (click)="getRandomRecipes()">Load More</button>
    </div>
</div>