/* .sidebar {
        position: fixed;
        top: 0;
        min-height: 100vh !important;
        z-index: 999;
        width: 200px;
    } */

/* @media (max-width: 768px) {
        .sidebar {
            display: none;
        }
    } */

.side-menu-list {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 34px;
  margin-top: 45px;
}
.nav{
    padding-right: 5px;
}
.nav-link , nav, .navbar-brand p {
    color: var(--textColor);
    
}

.nav-link:hover {
  color: aqua !important;
}

.selectedPage a{
  color: aqua !important;
}
