/* Footer styles */
footer {
    /* background-color: #f8f8f8; */
    padding: 20px 0;
    text-align: center;
    background: #042940;
    color: var(--textColor);
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info p {
    margin: 0;
  }
  
  
  
  .copyright {
    margin-top: 10px;
    /* color: #777; */
  }
  