<mat-drawer-container class="example-container h-100">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="max-width: 15%; min-width:300px">
        <!-- <div class="my-3 ms-3">
            <a class="navbar-brand d-flex py-0" routerLink="popular">
                <img src="../../../assets/images/Good-food-logo-design-on-transparent-background-PNG.png" alt=""
                    width="50" height="50" class="d-inline-block align-text-top">
                <p class="m-0 align-self-sm-center"> Food Recipe Management</p>
            </a>
        </div>
        <ul class="list-group side-menu-list list-unstyled">
            <li [ngClass]="{'selectedPage': headerService.getCurrentPageName() == 'Popular Recipes'}" class="nav-item">
                <a class="nav-link" routerLink="popular">Popular Recipes</a></li>
            <li [ngClass]="{'selectedPage': headerService.getCurrentPageName() == 'Recently Viewed'}" class="nav-item">
                <a class="nav-link" routerLink="recent">Recently Viewed</a></li>
            <li [ngClass]="{'selectedPage': headerService.getCurrentPageName() == 'Add Recipe'}" class="nav-item"><a
                    class="nav-link" routerLink="add">Add Recipe</a></li>
            <li [ngClass]="{'selectedPage': headerService.getCurrentPageName() == 'My Recipes'}" class="nav-item"><a
                    class="nav-link" routerLink="my-recipes">My Recipes</a></li>
            <li [ngClass]="{'selectedPage': headerService.getCurrentPageName() == 'Favorite Recipes'}" class="nav-item">
                <a class="nav-link" routerLink="favorite">Favorite</a></li>
        </ul> -->
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <div class="example-top-content">
       
        <app-topnav (toggleNav)="drawer.toggle()"></app-topnav>

        <div class="content">
            <div class="container" (click)="drawer.close()">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

</mat-drawer-container>