<mat-drawer-container class="example-container h-100">
    <mat-drawer #drawer class="example-sidenav" mode="side" style="max-width: 15%; min-width:300px">
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <div class="example-top-content">
        <app-topnav (toggleNav)="drawer.toggle()"></app-topnav>
        <div class="content ">
            <div class="container my-3" (click)="drawer.close()">
                <router-outlet></router-outlet>
            </div>
        </div>
        <app-footer></app-footer>
    </div>

</mat-drawer-container>